.botverde{
  background-color: #356035;
}
.botVerde{
  background-color: #92D4CC;
  color: #021526;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.botRojo{
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.botGene,
.botAzu{
  background-color: #007BFF;
  color: #021526;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold; /* texto en negrita */
}

.layout-index {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.botonera-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.link-boton {
  text-decoration: none;      /* quita subrayado */
  text-align: center;
  min-width: 200px;
  display: inline-block;
  line-height: normal;
}


@media (max-width: 600px) {
  .link-boton {
    width: 100%;
  }
}